name: PoP Scans 
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch: {}
  
jobs:
  pop-scans:
    permissions:
      contents: read
      actions: read
    uses: whitehatsec/pipelines-library/.github/workflows/pop-scans.yaml@main
    secrets: inherit
