name: mapstructure
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch: {}
  
jobs:
  go-module:
    uses: whitehatsec/pipelines-library/.github/workflows/go-module.yaml@main
    secrets: inherit
    with:
      service_name: ${{ github.workflow }}
      enable-cgo-dependencies: true
      cgo-packages: "libdb-dev"
