name: mapstructure

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  schedule:
    - cron: '0 4 1 * *'
  workflow_dispatch: {}

jobs:
  build:
    uses: whitehatsec/pipelines-library/.github/workflows/go-module.yaml@main
    secrets: inherit
    with:
      service_name: ${{ github.workflow }}
  
  pop-scans:
    uses: whitehatsec/pipelines-library/.github/workflows/pop-scans.yaml@main
    secrets: inherit
    with:
      skip-pop-bd-docker-image-scan: true