name: PoP Scans 
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch: {}
  
jobs:
  pop-scans:
    uses: whitehatsec/pipelines-library/.github/workflows/pop-scans.yaml@78dc941a967ce497a53306c3eec48035284285e0
    secrets: inherit
    with:
      skip-pop-bd-docker-image-scan: true
