name: PoP Scans 

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  schedule:
    - cron: '0 4 1 * *'
  workflow_dispatch: {}

jobs:
  pop-scans:
    uses: whitehatsec/pipelines-library/.github/workflows/pop-scans.yaml@main
    secrets: inherit
    with:
      skip-pop-bd-docker-image-scan: true
